/*banner dentro del slider*/
.textconten{
    position:absolute;
    top: 30%;
    left: 18%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 300%;
    color:#fff;  
     
}

.textconten h2{
    font-size: 34px;
}

.textconten p{
    font-size: 22px;
}
.textconten a{
    width: 120px;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 5px;
    margin-top: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
}

.textconten a:hover{
    background: rgba(51, 51, 51, 0.5);
}


/*Contenido y cuerpo del inicio*/

.contenido p, h2, h3{
    text-align: center;
    color: seashell;
}

.blogcont  h4{
    text-align: center;
}

.blogcont .informacion h4, p, a{
    color:black;
}
.blogcont .informacion {
    width: 1300px;
    display: flex;
}

.blogcont .informacion .informaciones{
    
    flex-wrap: wrap;
    margin:20px;
    
    
    border-radius: 6px;
    overflow: hidden;
    background: aliceblue;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0,2);
    cursor: default;
    transition: all 400ms ease;
    
}
.informaciones:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.informacion img{
    width: 100%;
    height: 210px;
    max-width: 320px;
}

.blogcont .informacion{
    padding: 15px;
    text-align: center;
}

.blogcont .informacion p{
    line-height: 1.5;
    color: #6a6a6a;
}

.blogcont .informacion h4{
    font-weight: 400;
    margin-bottom: 15px;    
}

.blogcont .informacion a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cd;
    border: 1px solid #2fb4cd;
    border-radius: 4px;
    transition: all 400ms ease;
    
}
.blogcont .informacion a:hover{
    background: #2fb4cd;
    color:#fff;
}
.blogcont article{
    margin: 15px;
}




/*section team*/
#team{
    max-height: 350px;
}
#team .info-dev h4, p{
color: floralwhite;
}

#team {
    background: #333333;
    color: seashell;
    text-align: center;
    padding: 20px;
}

#team .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-dev{
    margin: 20px;
}

.info-dev img{
    width: 160px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #fff;
}

/*footer y pie de pagina*/



footer{
    max-width: 1350px;
    
    height: 15px;
}

/*footer .logo-foot{
    text-align: center;
}
 footer .logo-foot img{
    width: 80px;
}*/

footer #acerca .redes-footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

footer #acerca .redes-footer a {
    font-size: 20px;
    margin: 10px;
    background: whitesmoke;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: rgb(207, 197, 197);
}

footer #acerca .redes-footer .fa-instagram:hover{
    background: rgb(218, 60, 205);
    color: #333;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 40px;
    margin: 10px;

}

footer #acerca .redes-footer .fa-facebook-f:hover{
    background: rgb(32, 32, 175);
    color: cornsilk;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 40px;
    margin: 10px;
}

footer #acerca .redes-footer .fa-whatsapp:hover {
    background: rgb(85, 207, 122);
    color: cornsilk;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 40px;
    margin: 10px;
}
footer hr{
    margin-top: 10px;
    border: none;
    height: 2px;
    background: #cedad7;
}

footer .derecho p{
    text-align: center;
    margin-top: 12px;
    color:seashell;
    font-weight: 200;
}
footer h5{
    width: 7px;
    text-align: left;
    margin-top: 3px;
    margin-left: 32px;
    color: floralwhite;
}

/*SECCION DE INFORMACION*/
#acerca{
    display: flex;
    margin-left: 32px;
}

#acerca .empresa{
    max-width: 320px;
    margin-top: 3px;
}
#acerca .mision{
    max-width: 320px;
    margin-top: 3px;
}
#acerca .recorrido{
    max-width: 320px;
    margin-top: 3px;
}
#acerca .redes-footer{
    max-width: 250px;
    margin-top: 3px;
    display: flex;
}

#acerca .redes-footer h6{
    color:floralwhite;
    
}